@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #FFF;
}

body.active {
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(134, 134, 134, 0.5);
  background: #fff;
  z-index: 99;
}

header h1 {
  font-family: 'Righteous', cursive;
  font-size: 20px;
  letter-spacing: 2px;
}

header h1 a {
  color: #2B7A78;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header h1 a:hover {
  letter-spacing: 3px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .search-field {
  position: relative;
  margin-right: 16px;
}

header .menu .search-field input.product-search {
  height: 30px;
  width: 160px;
  padding: 0 12px;
  border: 1px solid rgba(134, 134, 134, 0.5);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #555555;
}

header .menu .search-field img.search-icon {
  position: absolute;
  top: 6px;
  right: 12px;
  width: 18px;
}

header .menu .account-log-reg {
  display: none;
  margin: 0 50px 0 4px;
  font-size: 14px;
}

header .menu .account-log-reg .register-btn {
  display: block;
  margin-left: 20px;
  padding: 7px;
  border: 1px solid #2B7A78;
  border-radius: 3px;
  color: #2B7A78;
}

header .menu .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  background: transparent;
  border: none;
}

nav.side-nav {
  position: absolute;
  top: 60px;
  right: 0;
  height: calc(100vh - 60px);
  width: 270px;
  background: #f5f0f0;
  border-left: 1px solid rgba(134, 134, 134, 0.5);
  display: none;
  z-index: 10;
}

nav.side-nav.active {
  display: block;
}

nav.side-nav .user-account-section {
  padding: 20px;
  border-bottom: 1px solid rgba(134, 134, 134, 0.5);
}

nav.side-nav .user-account-section .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.side-nav .user-account-section .user-avatar-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 60px;
  border-radius: 90px;
  background: #2B7A78;
}

nav.side-nav .user-account-section .user-avatar-circle img.user-avatar-icon {
  width: 30px;
  height: 30px;
}

nav.side-nav .user-account-section .user-name {
  font-size: 20px;
}

nav.side-nav .user-account-section p {
  margin-top: 20px;
  font-size: 15px;
}

nav.side-nav .user-account-section a.register-btn {
  margin-left: 6px;
  color: #3156D8;
  text-decoration: underline;
}

nav.side-nav ul.navigation {
  margin-top: 60px;
  margin-left: 40px;
  list-style: none;
}

nav.side-nav ul.navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  font-size: 20px;
}

nav.side-nav ul.navigation li a:hover {
  color: #2B7A78;
}

nav.side-nav ul.navigation li:last-child {
  margin-bottom: 0;
}

nav.side-nav ul.navigation li.account {
  display: none;
}

nav.side-nav ul.navigation li img {
  width: 20px;
  height: 20px;
  margin-right: 40px;
}

nav.side-nav button.nav-close-btn {
  position: absolute;
  right: 45px;
  bottom: 40px;
  background: transparent;
  border: none;
}

nav.side-nav button.nav-close-btn img {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 550px) {
  header .menu .account-log-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 550px) and (min-width: 600px) {
  header {
    padding: 0 30px;
  }
}

@media (min-width: 550px) and (min-width: 900px) {
  .wrapper {
    margin-left: 56px;
  }
  header {
    padding: 0 30px;
    position: static;
  }
  header nav.side-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 56px;
    height: 100vh;
    padding: 25px 0;
    background: #FFF;
    overflow: hidden;
    border-right: 1px solid rgba(134, 134, 134, 0.5);
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }
  header nav.side-nav.active {
    width: 220px;
  }
  header nav.side-nav .user-account-section {
    display: none;
  }
  header nav.side-nav ul.navigation {
    height: 100%;
    margin: 0 0 0 17px;
  }
  header nav.side-nav ul.navigation li:first-child {
    margin-bottom: 80px;
  }
  header nav.side-nav ul.navigation li.account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav.side-nav ul.navigation li.contact {
    position: absolute;
    bottom: 25px;
  }
  header nav.side-nav ul.navigation li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #555555;
    font-size: 18px;
    white-space: nowrap;
  }
  header nav.side-nav ul.navigation li img {
    margin: 0;
  }
  header nav.side-nav ul.navigation li span.link-name {
    padding-left: 20px;
  }
  header nav.side-nav button.nav-close-btn {
    display: none;
  }
  header .menu .account-log-reg {
    margin: 0 0 0 4px;
  }
  header .menu .nav-btn {
    display: none;
  }
}

@media (min-width: 1300px) {
  header {
    padding: 0 70px;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 0 90px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 460px;
  padding: 25px;
  background: #FFF;
  border-radius: 5px;
}

section.description h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 25px;
}

section.description h6 {
  width: 100%;
  text-align: left;
  margin-bottom: 17px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
}

section.description h6.first {
  margin-top: 25px;
}

section.description p {
  text-align: justify;
  line-height: 150%;
}

section.description p.same-paragraph {
  margin-top: 12px;
}

section.description .lists {
  width: 100%;
}

section.description .lists ul {
  margin-left: 20px;
}

section.description .lists ul li {
  margin: 10px 0;
}

@media (min-width: 550px) {
  body {
    background: #f5f0f0;
  }
  main {
    padding: 0 25px;
  }
  section.description {
    width: 100%;
    max-width: 580px;
    padding: 30px;
    margin-top: 25px;
  }
  section.description .lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.description .lists .second-list {
    margin-left: 150px;
  }
}

@media (min-width: 700px) {
  section.description {
    padding: 25px 50px;
    max-width: 1200px;
  }
}

@media (min-width: 800px) {
  section.description {
    padding: 25px 80px;
  }
}
/*# sourceMappingURL=main.css.map */