@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:400,500,700&display=swap');

$light-gray: #555555;
$light-bg: hsl(0, 19%, 95%);
$sea: #2B7A78;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FFF;

    &.active {
        overflow: hidden;
    }
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

// ******** HEADER ********
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    height: 60px;
    padding: 0 16px;
    border-bottom: 1px solid rgba(134, 134, 134, .5);
    background: #fff;
    z-index: 99;

    h1 {
        font-family: 'Righteous', cursive;
        font-size: 20px;
        letter-spacing: 2px;

        a {
            color: $sea;
            transition: all .3s ease-in-out;

            &:hover {
                letter-spacing: 3px;
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;

        .search-field {
            position: relative;
            margin-right: 16px;

            input.product-search {
                height: 30px;
                width: 160px;
                padding: 0 12px;
                border: 1px solid rgba(134, 134, 134, .5);
                border-radius: 3px;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1px;
                color: $light-gray;
            }

            img.search-icon {
                position: absolute;
                top: 6px;
                right: 12px;
                width: 18px;
            }

        }

        .account-log-reg {
            display: none;
            margin: 0 50px 0 4px;
            font-size: 14px;


            .register-btn {
                display: block;
                margin-left: 20px;
                padding: 7px;
                border: 1px solid $sea;
                border-radius: 3px;
                color: $sea;
            }
        }

        .nav-btn {
            display: flex;
            width: 25px;
            background: transparent;
            border: none;
        }
    }
}

// ******** NAVIGATION ********
nav.side-nav {
    position: absolute;
    top: 60px;
    right: 0;
    height: calc(100vh - 60px);
    width: 270px;
    background: $light-bg;
    border-left: 1px solid rgba(134, 134, 134, .5);
    display: none;
    z-index: 10;

    &.active {
        display: block;
    }

    .user-account-section {
        padding: 20px;
        border-bottom: 1px solid rgba(134, 134, 134, .5);

        .user-info {
            display: flex;
            align-items: center;
        }

        .user-avatar-circle {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 60px;
            height: 60px;
            margin-right: 60px;
            border-radius: 90px;
            background: $sea;

            img.user-avatar-icon {
                width: 30px;
                height: 30px;
            }
        }

        .user-name {
            font-size: 20px;
        }

        p {
            margin-top: 20px;
            font-size: 15px;
        }

        a.register-btn {
            margin-left: 6px;
            color: #3156D8;
            text-decoration: underline;
        }
    }

    ul.navigation {
        margin-top: 60px;
        margin-left: 40px;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 45px;
            font-size: 20px;

            a:hover {
                color: $sea;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.account {
                display: none;
            }

            img {
                width: 20px;
                height: 20px;
                margin-right: 40px;
            }
        }
    }

    button.nav-close-btn {
        position: absolute;
        right: 45px;
        bottom: 40px;
        background: transparent;
        border: none;

        img {
            width: 30px;
            height: 30px;
            transform: rotate(180deg);
        }
    }
}

// ******** HEADER & NAVIGATION Responsive********
@media (min-width: 550px) {

    header {
        .menu {
            .account-log-reg {
                display: flex;
                align-items: center;
            }
        }

    }

    @media (min-width: 600px) {
        header {
            padding: 0 30px;
        }
    }

    @media (min-width: 900px) {
        .wrapper {
            margin-left: 56px;
        }

        header {
            padding: 0 30px;
            position: static;

            nav.side-nav {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 56px;
                height: 100vh;
                padding: 25px 0;
                background: #FFF;
                overflow: hidden;
                border-right: 1px solid rgba(134, 134, 134, .5);
                transition: width .3s ease-in-out;

                &.active {
                    width: 220px;
                }

                .user-account-section {
                    display: none;
                }

                ul.navigation {
                    height: 100%;
                    margin: 0 0 0 17px;

                    li {


                        &:first-child {
                            margin-bottom: 80px;
                        }

                        &.account {
                            display: flex;
                        }

                        &.contact {
                            position: absolute;
                            bottom: 25px;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            color: $light-gray;
                            font-size: 18px;
                            white-space: nowrap;
                        }

                        img {
                            margin: 0;
                        }

                        span.link-name {
                            padding-left: 20px;
                        }
                    }
                }

                button.nav-close-btn {
                    display: none;
                }
            }

            .menu {
                .account-log-reg {
                    margin: 0 0 0 4px;
                }

                .nav-btn {
                    display: none;
                }
            }
        }


    }
}

@media (min-width: 1300px) {
    header {
        padding: 0 70px;
    }
}

@media (min-width: 1400px) {
    header {
        padding: 0 90px;
    }
}


// ******** MAIN ********
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// ******** DESCRIPTION SECTION ********
section.description {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 460px;
    padding: 25px;
    background: #FFF;
    border-radius: 5px;

    h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 4px;
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 25px;
    }

    h6 {
        width: 100%;
        text-align: left;
        margin-bottom: 17px;
        margin-top: 50px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 600;

        &.first {
            margin-top: 25px;
        }
    }

    p {
        text-align: justify;
        line-height: 150%;

        &.same-paragraph {
            margin-top: 12px;
        }
    }

    .lists {
        width: 100%;

        ul {
            margin-left: 20px;

            li {
                margin: 10px 0;
            }
        }
    }
}

@media (min-width: 550px) {
    body {
        background: $light-bg;
    }

    main {
        padding: 0 25px;
    }

    section.description {
        width: 100%;
        max-width: 580px;
        padding: 30px;
        margin-top: 25px;

        .lists {
            display: flex;

            .second-list {
                margin-left: 150px;
            }
        }
    }
}


@media (min-width: 700px) {

    section.description {
        padding: 25px 50px;
        max-width: 1200px;



    }
}

@media (min-width: 800px) {
    section.description {
        padding: 25px 80px;
    }
}