#opinions-table_wrapper {
    width: 100%;
    margin-top: 50px;
    overflow: scroll;
}

th {
    font-size: 14px;
}

td {
    font-size: 13px;
}

.td-hide {
    max-height: 100px;
    overflow: hidden;
    background: rgba(171, 31, 31, 0.5);
}